# BDAT-1004 Data Programming Assignment- 1
###Submitted by: Gurleen Bhullar (200550851)

Question 1: What data type is each of the following (evaluate where necessary)?
5 
5.0
5 > 1
'5'
5 * 2
'5' * 2
'5' + '2'
5 / 2
5 % 2
{5, 2, 1}
5 == 3
Pi (the number)

In [1]:
type(5)

int

In [2]:
type(5.0)

float

In [12]:
type(5>1) #greater than operator (comparison)

bool

In [13]:
type('5')

str

In [5]:
type(5 * 2)

int

In [6]:
type('5' * 2)

str

In [7]:
type('5' + '2')

str

In [8]:
type(5 / 2) #division operator, can have decimal numbers, thus the data type is 'float'

float

In [9]:
type(5 % 2) #modulo operator

int

In [10]:
type({5, 2, 1})

set

In [11]:
type(5 == 3) #equal to operator

bool

Pi (the number)- it can be imported using 'import math' function, and its a 'float' data type

Question 2: Write (and evaluate) python expressions that answer these questions: a. How many letters are there in 'Supercalifragilisticexpialidocious'? b. Does 'Supercalifragilisticexpialidocious' contain 'ice' as a substring? c. Which of the following words is the longest: Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or Bababadalgharaghtakamminarronnkonn? d. Which composer comes first in the dictionary: 'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein'. Which one comes last?

In [15]:
#part a  'Supercalifragilisticexpialidocious'
#part b contains substring 'ice'
string= str(input("Enter a word: "))
print("The Length of the entered word is", len(string))  
substring= str(input("Enter a substring you want to find: "))
if  substring in string:
    print(substring, "is a part of the string")
else:
    print(substring, "is not a part of the string")

#part c  Supercalifragilisticexpialidocious, Honorificabilitudinitatibus, or Bababadalgharaghtakamminarronnkonn
strings= str(input("Enter the words separated by comma: ")).split(',')
max_word= max(strings, key=len)
print("The longest word out of all is: ", max_word)

#part d Composer names:  'Berlioz', 'Borodin', 'Brian', 'Bartok', 'Bellini', 'Buxtehude', 'Bernstein
dictionary_words= str(input("Enter the names of composers separated by comma: ")).split(',')
print("The word which comes first in the dictionary is: ", min(dictionary_words))
print("The word which comes last in the dictionary is: ", max(dictionary_words))

Enter a word: Supercalifragilisticexpialidocious
The Length of the entered word is 34
Enter a substring you want to find: ice
ice is a part of the string
Enter the words separated by comma: Supercalifragilisticexpialidocious,Honorificabilitudinitatibus,Bababadalgharaghtakamminarronnkonn
The longest word out of all is:  Supercalifragilisticexpialidocious
Enter the names of composers separated by comma: Berlioz,Borodin,Brian,Bartok,Bellini,Buxtehude,Bernstein
The word which comes first in the dictionary is:  Bartok
The word which comes last in the dictionary is:  Buxtehude

Question 3:Implement function triangleArea(a,b,c) that takes as input the lengths of the 3
sides of a triangle and returns the area of the triangle. By Heron's formula, the area 
of a triangle with side lengths a, b, and c is
s(s - a)(s -b)(s -c)
, where 
s = (a+b+c)/2. 
>>> triangleArea(2,2,2)
1.7320508075688772

In [16]:
import math
def triangle(a,b,c):

    s=(a+b+c)/2
    area= math.sqrt(s*(s-a)*(s-b)*(s-c))
    return area


num1=float(input("Enter the first number: "))
num2=float(input("Enter the second number: "))
num3=float(input("Enter the third number: "))
print("Area: ", triangle(num1,num2,num3))

Enter the first number: 2
Enter the second number: 2
Enter the third number: 2
Area:  1.7320508075688772

Question 4: Write a program in python to separate odd and even integers in separate arrays. Go 
to the editor
Test Data :
Input the number of elements to be stored in the array :5
Input 5 elements in the array :
element - 0 : 25
element - 1 : 47
element - 2 : 42
element - 3 : 56
element - 4 : 32
Expected Output:
The Even elements are:
42 56 32
The Odd elements are :
25 47

In [17]:
even_numbers=[]
odd_numbers=[]
array=[]
n= int(input("Enter the total number of elements: "))
for i in range (n):
    print("Enter number",i+1 )
    numbers=int(input())
    array.append(numbers)
    
for number in array:
    if number%2==0:
        even_numbers.append(number)
    else:
        odd_numbers.append(number)
print("The even numbers are: \n", *even_numbers)
print("The odd numbers are: \n", *odd_numbers)

Enter the total number of elements: 5
Enter number 1
45
Enter number 2
87
Enter number 3
63
Enter number 4
98
Enter number 5
57
The even numbers are:
 98
The odd numbers are:
 45 87 63 57

Question 5:a. Write a function inside(x,y,x1,y1,x2,y2) that returns True or False 
depending on whether the point (x,y) lies in the rectangle with lower left 
corner (x1,y1) and upper right corner (x2,y2).
>>> inside(1,1,0,0,2,3)
True
>>> inside(-1,-1,0,0,2,3)
False
b. Use function inside() from part a. to write an expression that tests whether 
the point (1,1) lies in both of the following rectangles: one with lower left 
corner (0.3, 0.5) and upper right corner (1.1, 0.7) and the other with lower 
left corner (0.5, 0.2) and upper right corner (1.1, 2).

In [20]:
def inside(x, y, x1, y1, x2, y2):
#part a
    if x1 <= x <= x2 and y1 <= y <= y2:
        return True
    else:
        return False


print(inside(1, 1, 0, 0, 2, 3))  
print(inside(-1, -1, 0, 0, 2, 3)) 

#part b
#rectangle 1 coordinates as per question: (0.3,0.5,1.1,0.7)
#rectangle 2 coordinates as per question: (0.5,0.2,1.1,2)

x1_rect1 = float(input("Enter the x-coordinate of the lower left corner of rectangle 1: "))
y1_rect1 = float(input("Enter the y-coordinate of the lower left corner of rectangle 1: "))
x2_rect1 = float(input("Enter the x-coordinate of the upper right corner of rectangle 1: "))
y2_rect1 = float(input("Enter the y-coordinate of the upper right corner of rectangle 1: "))

x1_rect2 = float(input("Enter the x-coordinate of the lower left corner of rectangle 2: "))
y1_rect2 = float(input("Enter the y-coordinate of the lower left corner of rectangle 2: "))
x2_rect2 = float(input("Enter the x-coordinate of the upper right corner of rectangle 2: "))
y2_rect2 = float(input("Enter the y-coordinate of the upper right corner of rectangle 2: "))

x_point = float(input("Enter the x-coordinate of the point you want to search: "))
y_point = float(input("Enter the y-coordinate of the point you want to search: "))

if inside(x_point, y_point, x1_rect1, y1_rect1, x2_rect1, y2_rect1) and \
   inside(x_point, y_point,x1_rect2, y1_rect2, x2_rect2, y2_rect2 ):
    print("The point lies in both rectangles")
else:
    print("The point does not lie in both rectangles")

True
False
Enter the x-coordinate of the lower left corner of rectangle 1: 0.3
Enter the y-coordinate of the lower left corner of rectangle 1: 0.5
Enter the x-coordinate of the upper right corner of rectangle 1: 1.1
Enter the y-coordinate of the upper right corner of rectangle 1: 0.7
Enter the x-coordinate of the lower left corner of rectangle 2: 0.5
Enter the y-coordinate of the lower left corner of rectangle 2: 0.2
Enter the x-coordinate of the upper right corner of rectangle 2: 1.1
Enter the y-coordinate of the upper right corner of rectangle 2: 2
Enter the x-coordinate of the point you want to search: 1
Enter the y-coordinate of the point you want to search: 1
The point does not lie in both rectangles

Question 6:. You can turn a word into pig-Latin using the following two rules (simplified):
• If the word starts with a consonant, move that letter to the end and append 
'ay'. For example, 'happy' becomes 'appyhay' and 'pencil' becomes 'encilpay'.
• If the word starts with a vowel, simply append 'way' to the end of the word. 
For example, 'enter' becomes 'enterway' and 'other' becomes 'otherway' . For 
our purposes, there are 5 vowels: a, e, i, o, u (so we count y as a consonant).
Write a function pig() that takes a word (i.e., a string) as input and returns its pigLatin form. Your function should still work if the input word contains upper case 
characters. Your output should always be lower case however.

In [21]:
def pig(word):

    word=word.lower()
    if word[0]in ['a','e','i','o','u']:
        pigLatin_word= word + 'way'
    else:
        pigLatin_word= word[1:]+word[0]+'ay'
    return pigLatin_word

word= str(input("Enter the word: \n"))
print("The pig latin word of the entered word is: ", pig(word))

Enter the word:
enter
The pig latin word of the entered word is:  enterway

Question 7: File bloodtype1.txt records blood-types of patients (A, B, AB, O or OO) at a clinic. 
Write a function bldcount() that reads the file with name name and reports (i.e., 
prints) how many patients there are in each bloodtype.
>>> bldcount('bloodtype.txt')
There are 10 patients of blood type A.
There is one patient of blood type B.
There are 10 patients of blood type AB.
There are 12 patients of blood type O.
There are no patients of blood type OO.

[Download bloodtype1.txt](https://learn-us-east-1-prod-fleet01-xythos.content.blackboardcdn.com/blackboard.learn.xythos.prod/599c7a2702a96/7535523?X-Blackboard-S3-Bucket=blackboard.learn.xythos.prod&X-Blackboard-Expiration=1686895200000&X-Blackboard-Signature=LVQHrb9wZT8rF6OSU9obo02jyjRgi7hkP6baCH2xW8g%3D&X-Blackboard-Client-Id=100784&X-Blackboard-S3-Region=us-east-1&response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27bloodtype1.txt&response-content-type=text%2Fplain&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIBENt303P3Tk%2BaPSxXZR62FYSvDIAF0GQwbs%2BQNtRbTCAiBzib9%2B3WtFRNhrjtusPiMMK%2BTUS96W5rt%2FgRCk5QrbSCqzBQg7EAAaDDU1)

In [30]:
import requests

def bldcount(url):
    blood_types = ['A', 'B', 'AB', 'O', 'OO']
    count = {}

    try:
        response = requests.get(url)
        blood_data = response.text.split()

        for blood_type in blood_types:
            count[blood_type] = blood_data.count(blood_type)

        for blood_type, num_patients in count.items():
            if num_patients == 1:
                print(f"There is one patient of blood type {blood_type}.")
            else:
                print(f"There are {num_patients} patients of blood type {blood_type}.")

    except requests.exceptions.RequestException:
        print(f"Failed to fetch the file from URL '{url}'.")
bldcount('https://learn-us-east-1-prod-fleet01-xythos.content.blackboardcdn.com/blackboard.learn.xythos.prod/599c7a2702a96/7535523?X-Blackboard-S3-Bucket=blackboard.learn.xythos.prod&X-Blackboard-Expiration=1686895200000&X-Blackboard-Signature=LVQHrb9wZT8rF6OSU9obo02jyjRgi7hkP6baCH2xW8g%3D&X-Blackboard-Client-Id=100784&X-Blackboard-S3-Region=us-east-1&response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27bloodtype1.txt&response-content-type=text%2Fplain&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOL%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIBENt303P3Tk%2BaPSxXZR62FYSvDIAF0GQwbs%2BQNtRbTCAiBzib9%2B3WtFRNhrjtusPiMMK%2BTUS96W5rt%2FgRCk5QrbSCqzBQg7EAAaDDU1')

There are 15 patients of blood type A.
There is one patient of blood type B.
There are 13 patients of blood type AB.
There are 15 patients of blood type O.
There are 0 patients of blood type OO.

the usage of 'import requests' function was done with the help of stack flow site : https://stackoverflow.com/questions/38476648/python-requests-call-with-url-using-parameters

Question 8: Write a function curconv() that takes as input:
1. a currency represented using a string (e.g., 'JPY' for the Japanese Yen or 
'EUR' for the Euro)
2. an amount
and then converts and returns the amount in US dollars.

The currency rates you will need are stored in file currencies.txt:
AUD 1.0345157 Australian Dollar
CHF 1.0237414 Swiss Franc
CNY 0.1550176 Chinese Yuan
DKK 0.1651442 Danish Krone
EUR 1.2296544 Euro
GBP 1.5550989 British Pound
HKD 0.1270207 Hong Kong Dollar
INR 0.0177643 Indian Rupee
JPY 0.01241401 Japanese Yen
MXN 0.0751848 Mexican Peso
MYR 0.3145411 Malaysian Ringgit
NOK 0.1677063 Norwegian Krone
NZD 0.8003591 New Zealand Dollar
PHP 0.0233234 Philippine Peso
SEK 0.148269 Swedish Krona
SGD 0.788871 Singapore Dollar
THB 0.0313789 Thai Baht

In [31]:
import requests

def curconv(currency, amount):
    try:
        url = 'https://learn-us-east-1-prod-fleet01-xythos.content.blackboardcdn.com/blackboard.learn.xythos.prod/599c7a2702a96/9576931?X-Blackboard-S3-Bucket=blackboard.learn.xythos.prod&X-Blackboard-Expiration=1686906000000&X-Blackboard-Signature=XOwg1EIi6wlLDg%2FNFQaKU%2BRKV0KXIEWblKYFmB%2FNoK0%3D&X-Blackboard-Client-Id=100784&X-Blackboard-S3-Region=us-east-1&response-cache-control=private%2C%20max-age%3D21600&response-content-disposition=inline%3B%20filename%2A%3DUTF-8%27%27currencies.txt&response-content-type=text%2Fplain&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEOP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMSJGMEQCIFK8w%2BZhZXziPnyquwxIkPvtYpFWc1%2BpdRh6xDuzX96PAiAhppNdq%2FFjChWlFi8WIYGyvqT3l7Rv%2BGVCNbzY3atrsCq0BQg7EAAaDDU1NjkwMzg2MTM2MSIMNVjsmeiOQu334xeRKpEFvTXYcd1PUt5te3Ae8jw24UnqHgvdMqp9OwbhpoSHyo9qhU%2F23UptVxlaJYzjxDDtYp8awhYiHveaiATtgQf1%2BChDy9NatmI6IPCf5qhUj06rpfyKSqkHsj9RfNMbw4%2FrNU%2B4Oh%2Fm5IViY3NJ8u6WCVzHOUPGazHnxLOlG5f%2FKsSTGuu5R6SoEpBfue42YQLcR56qLLb%2B%2F6pMORyufPYOPXiQeBdPUS9EyMWeeaazC1C7qE0QfAn8BMz8xIr%2FyldagVfUWZxLgeh0nFGvbF4zx8%2BZCFzwvjedgMSVdn%2FzOeJ2zo440pZjiA25G3uPxPWlPn%2FzqayWZPt16hLc20n9%2FNwhqohqbF%2BMaVfhNZCP%2BH5v7y4k897VLPPWTa1DhLKQU8Y1IHPaIKrmwrF392VesGtXlR3uUvF65wLMO%2FOi8Q8dQC9b%2B36zr%2BOPUfFPM9TCeOyuJl3LkITWsztcGdp12sIj7E5FWWn7rjo9qBMmNhZruYuvA7rKd1twNZADLFlB%2FXvrbGfz9eBbwjRSvpTMSCc9SHWvw96MSlUPUUObF7%2Bn3yOzmwLUZ0XNCduk%2B%2FSN14sJUMljQLrR4By7wx0CkQPexor9JIQMAXXAbmXdUl9c5ICfYAiIALotZjdfOF23X3T0dTVixPCtjntq0o547ZS3drgu%2F8twdGvmvayH8XQytKryHnyFq1Ar3o0OOUDdppC%2BEZpw8BN0yuLVh27ZaDX%2FB5bfJ9GpT4Z9rbmjKgwceo03w3XYDUw3%2BPeFiNAFFuuwT2wpQdBh3EIfi5S6qDP4na3Raj0IxRvk2u5xoYfkIXFXUDDWc5pJ0pLcdRKCtLbJhmnf4b99kLQSrOkPMu0Hl5OmcWi%2FZaUtWCV1%2Bi2gMKyLr6QGOrIBSZhJXrroUp%2FBkpm9u9ta0QKf2fp0UP1BzvCDKn%2Bw18Qseoq2wegd3dTHcWH3qDolDSp6iO8lX3eSALq%2BUP51yFsERNVTYcFJwKSoUjtjrT8zcfYcmbxNtb0j1Tlxo35ww8VYvCmd0NjiW209ZQ8dqNJAyZMY1qU4ADWiIlxpHMJzxabPL%2FDaT6hBYzl0w2fKh7r0AjmgH5b3g%2BQZw3wSZpIXy7cLn5ziwUgPA3hiJmuh1g%3D%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20230616T030000Z&X-Amz-SignedHeaders=host&X-Amz-Expires=21600&X-Amz-Credential=ASIAYDKQORRYRJXYHCFR%2F20230616%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Signature=2548acf89012e175edce30aed7543f8477b4e68ea33acff562d179d54950461b'  
        response = requests.get(url)
        currency_rates = response.text.splitlines()
        
        for line in currency_rates:
            parts = line.split()
            if parts[0] == currency:
                conversion_rate = float(parts[1])
                converted_amount = amount * conversion_rate
                return converted_amount
        
        return None

    except requests.exceptions.RequestException:
        print("Failed to fetch currency rates from the URL.")
        return None
    except ValueError:
        print("Invalid currency rate format.")
        return None


currency_code = str(input("Enter the currency code: "))
amount = int(input("Enter the amount" ))
converted_amount = curconv(currency_code, amount)
if converted_amount is not None:
    print(f"{amount} {currency_code} is equal to {converted_amount} USD.")

Enter the currency code: JPY
Enter the amount600
600 JPY is equal to 7.448405999999999 USD.

Question 9: Each of the following will cause an exception (an error). Identify what type of 
exception each will cause.
Trying to add incompatible variables, as in 
adding 6 + ‘a’
Referring to the 12th item of a list that has only 10 
items
Using a value that is out of range for a function’s 
input, such as calling math.sqrt(-1.0)
Using an undeclared variable, such as print(x)
when x has not been defined 
Trying to open a file that does not exist, such as 
mistyping the file name or looking in the wrong 
directory

In [32]:
#trying to add 6+ 'a' gives a type error
print(6+'a')

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [34]:
#referring to 12th item in a list with only 10 items gives 'Index error'
lst=[1,2,3,4,5,6,7,8,9,2]
lst[12]

IndexError: list index out of range

In [35]:
#gives math domain error
import math
result = math.sqrt(-1.0)

ValueError: math domain error

In [36]:
print(x)
#gives name error

NameError: name 'x' is not defined

trying to open a file which does not exist will give file not found error

Question 10: Assume that the string letters is already defined as 
'abcdefghijklmnopqrstuvwxyz'. Write a function called frequencies()
that takes a string as its only parameter, and returns a list of integers, showing the 
number of times each character appears in the text. Your function may ignore any 
characters that are not in letters. 
>>> frequencies('The quick red fox got bored and went home.')
[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 2, 
1, 0, 1, 1, 0, 0]
>>> frequencies('apple')

In [37]:
def frequencies(text):
    letters = 'abcdefghijklmnopqrstuvwxyz'
    frequencies = [0] * 26 

    for char in text.lower():
        if char in letters:
            index = letters.index(char)
            frequencies[index] += 1

    return frequencies
text = 'The quick red fox got bored and went home.'
result = frequencies(text)
print(result)

[1, 1, 1, 3, 5, 1, 1, 2, 1, 0, 1, 0, 1, 2, 4, 0, 1, 2, 0, 3, 1, 0, 1, 1, 0, 0]